# patterns (extensions & globs)
*.crt
*.ignore
*.key
*.log
*.njsproj
*.ntvs*
*.pem
*.session
*.session-journal
*.sln
*.suo
*.sw?
*.sqlite
*.tsbuildinfo
*.xlsx#
*_ardb
*_ardb.json
ignore*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# подкаталоги/паттерны
.vscode/*
!.vscode/extensions.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
media/*
var/*
dump/*
cache/*

# exact names (files & directories)
.DS_Store
.env*
*.env
.idea
.next
.out
.build
.ruff_cache
.pnp
/coverage
/.next/
/build
/.vercel
__pycache__
bar
cache
cache_dir
cachedir
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
config
db.sqlite
dist
dump
file_storage
foo
logs
media
mongo_dumps
node_modules
playground.py
story.log
var
venv
.venv
next-env.d.ts
